
.icon-button[data-width="fill"] {
    aspect-ratio: unset !important;
    width: 100%;
}
  
.film[data-flip="hinge-left"] {
  		transform-origin: 0 50% !important;
}

.socials-list p a::after {
  content: "";
  display: block;
  position: absolute;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  transform: none;
  right: -13px;
  top: 0;
  width: 12px;
  height: 12px;
  background-image: url("https://cdn.prod.website-files.com/6985a96094c8a2812e4e94ff/6987128268bf4ad22bcb7c14_Property%201%3Darrow-top-right.svg");
}

.u-paper-noise::after {
  content: "" !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.prod.website-files.com/6985a96094c8a2812e4e94ff/699ed30dcb34b3413633aba3_b6935abed5dd8af37af89e065ce4e85c_Noise%20substrate.avif") !important;
  background-repeat: repeat;
  background-size: 160px;
  pointer-events: none;
  opacity: 1;
  mix-blend-mode: screen;
}

.recognition-rich-text p::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: -15px;
  height: 3px;
  background: radial-gradient(circle, currentcolor 1px, transparent 1px);
  background-size: 10px 2px;
  background-repeat: repeat-x;
}
